#home {
  background: #0F2B37 asset-url('01.jpg');
  background-size: cover;
  background-position: center top;
  height: 400px;
  color: #FFFFFF;
}

.logo-container {
  margin-top: 110px;

  @media(max-width:767px){
    margin-top: 25px;
  }

  #logo {
    max-width: 95px;
  }
}

.taglines {
  h2 {
    font-family: Georgia;
    font-style: italic;
  }

  h1{
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 2px #2D2D2D;
    margin-bottom: 30px;
  }
}

.intro {
  background: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  padding: 20px 10px;
}

.cta {
  margin-top: 15px;

  .btn-main {
    width: 140px;
    line-height: 28px;
  }
}

.btn-main {
  margin: 20px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background: $orange;
  border: 2px solid $orange;
  text-transform: uppercase;
  font-weight: 700;
  top: -4px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  &:active, &:focus, &:hover {
    background: $orange-darker;
    color: #FFF;
    border: 2px solid #FFF;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}

.result {
  height: 55px;
}

.signup-form {
  h3 {
    margin-bottom: 30px;
  }
}

@media(max-width:440px){
  .logo-container {
    #logo{
      max-width: 70px;
    }
  }

  .taglines {
    h1 {
      font-size: 37px;
    }

    h2 {
      font-size: 24px;
    }
  }

  .input-group, .form-group {
    .form-control {
      font-size: 17px;
    }
  }

  .intro {
    font-size: 17px;
  }
}
