.navbar-default {
  .navbar-nav > li > a {
    float: right;
    text-transform: uppercase;
    font-size: 15px;

    &.highlight {
      color: $home-orange;
    }
  }
}

.navbar-collapse {
  box-shadow: none;
}

#navbar-home {
  &.navbar-default {
    background: $home-navy;
    border-top: 3px solid $home-orange;
  }

  .logo-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
  }

  #logo {
    width: 65px;
    position: relative;
    top: -33px;
  }
}
